/* ===== Properties ===== */
:root {
    --radius: 16px;

    --primary-green-color: #495E59;
    --primary-yellow-color: #F4CE14;
    --secondary-orange-color: #EE9972;
    --secondary-orange-light-color: #FBDABB;
    --secondary-grey-color: #333333;
    --secondary-grey-light-color: #EDEFEE;

    --serif-font-family: 'Markazi Text', serif;
    --sans-serif-font-family: 'Karla', sans-serif;

    --paragraph-font-family: var( --sans-serif-font-family );
    --paragraph-font-size: 1rem;
    --paragraph-font-weight: 400;
    --paragraph-line-height: 1.5;

    --highlight-font-family: var( --sans-serif-font-family );
    --highlight-font-size: 1rem;
    --highlight-font-weight: 500;
    --highlight-line-height: 1.5;

    --section-category-font-family: var( --sans-serif-font-family );
    --section-category-font-size: 1rem;
    --section-category-font-weight: 800;
    --section-category-line-height: 1.5;

    --card-title-font-family: var( --sans-serif-font-family );
    --card-title-font-size: 1.125rem;
    --card-title-font-weight: 700;
    --card-title-line-height: 1.5;

    --lead-font-family: var( --sans-serif-font-family );
    --lead-font-size: 1.125rem;
    --lead-font-weight: 500;
    --lead-line-height: 1.5;

    --section-title-font-family: var( --sans-serif-font-family );
    --section-title-font-size: 1.25rem;
    --section-title-font-weight: 800;
    --section-title-line-height: 1.5;

    --subtitle-font-family: var( --serif-font-family );
    --subtitle-font-size: 2.5rem;
    --subtitle-font-weight: 400;
    --subtitle-line-height: 1;

    --title-font-family: var( --serif-font-family );
    --title-font-size: 4rem;
    --title-font-weight: 500;
    --title-line-height: 1;
}

/* ===== Reset ===== */
body {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: var( --paragraph-font-family );
    font-weight: var( --paragraph-font-weight );
    line-height: var( --paragraph-line-height );
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var( --title-font-family );
    font-size: var( --title-font-size );
    font-weight: var( --title-font-weight );
    line-height: var( --title-line-height );
}

h2 {
    font-family: var( --subtitle-font-family );
    font-size: var( --subtitle-font-size );
    font-weight: var( --subtitle-font-weight );
    line-height: var( --subtitle-line-height );
}

h3 {
    font-family: var( --section-title-font-family );
    font-size: var( --section-title-font-size );
    font-weight: var( --section-title-font-weight );
    line-height: var( --section-title-line-height );
}

h4 {
    font-family: var( --card-title-font-family );
    font-size: var( --card-title-font-size );
    font-weight: var( --card-title-font-weight );
    line-height: var( --card-title-line-height );
}

h5 {
    font-family: var( --section-category-font-family );
    font-size: var( --section-category-font-size );
    font-weight: var( --section-category-font-weight );
    line-height: var( --section-category-line-height );
}

p {
    font-family: var( --paragraph-font-family );
    font-size: var( --paragraph-font-size );
    font-weight: var( --paragraph-font-weight );
    line-height: var( --paragraph-line-height );
}

img {
    max-width: 100%;
    height: auto;
}

/* ===== Common Elements ===== */
.container {
    max-width: calc( 860px + 2rem );
    margin: 0 auto;
    padding: 0 1rem;
}

.button {
    display: inline-block;

    padding: 0.5rem 1.5rem;

    border: none;
    border-radius: var( --radius );

    font-size: var( --lead-font-size );
    font-weight: var( --lead-font-weight );
    line-height: var( --lead-line-height );
    text-decoration: none;

    cursor: pointer;

    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button--primary {
    background-color: var( --primary-yellow-color );
    color: var( --secondary-grey-color );
}
.button--primary:hover {
    background-color: var( --primary-green-color );
    color: var( --secondary-grey-light-color );
}

.button--text {
    padding: 0;

    background-color: transparent;
    color: var( --primary-green-color );
}
.button--text:hover {
    color: var( --primary-yellow-color );
}

.button--toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;

    padding: 0;

    border: 0;
    border-radius: 0;
    background: none;

    color: var( --primary-green-color );
}

/* ===== Header ===== */
.header {
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem;
}

.headerNavToggle {
    display: none;
}
@media (max-width: 767px) {
    .headerNavToggle {
        display: block;
    }
}

.headerNav {
    max-height: 0vh;
    overflow: hidden;

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: var( --secondary-grey-light-color );

    transition: max-height 0.3s;
}
@media (min-width: 768px) {
    .headerNav {
        max-height: none;
        position: initial;

        background-color: initial;
    }
}
.headerNav--expanded {
    max-height: 100vh;
}

.headerNav .navList {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
    margin: 0;

    text-align: center;

    list-style: none;
}
@media (min-width: 768px) {
    .headerNav .navList {
        flex-direction: row;
        gap: 1rem;

        padding: 0;
    }
}
@media (min-width: 992px) {
    .headerNav .navList {
        gap: 2rem;
    }
}

.headerNav .navList__link {
    text-decoration: none;
    color: var( --secondary-grey-color );
}
.headerNav .navList__link:hover,
.headerNav .navList__link--active {
    color: var( --secondary-orange-color );
}

/* ===== Jumbotron ===== */
.jumbotron {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    padding: 1rem 1rem 2rem 1rem;

    background-color: var( --primary-green-color );
    color: var( --secondary-grey-light-color );
}
@media (min-width: 768px) {
    .jumbotron {
        margin-bottom: 4rem;
    }
}

.jumbotron .container {
    gap: 0;

    position: relative;
}

.jumbotron h1 {
    color: var( --primary-yellow-color );
}

.jumbotron p {
    padding: 1.5rem 0;

    font-size: var( --lead-font-size );
    font-weight: var( --lead-font-weight );
    line-height: var( --lead-line-height );
}
@media (min-width: 768px) {
    .jumbotron p {
        margin-right: 45%;
    }
}

.jumbotron__image {
    width: 150px;
    max-width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;

    float: right;

    margin: 0 0 2rem 2rem;

    border-radius: var( --radius );
}
@media (min-width: 576px) {
    .jumbotron__image {
        width: 200px;
        max-width: 200px;
        height: 200px;

        margin-bottom: 0;
    }
}
@media (min-width: 768px) {
    .jumbotron__image {
        width: 40%;
        max-width: 40%;
        height: auto;
        max-height: 400px;
        aspect-ratio: 4/5;

        float: none;

        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.jumbotron .button:hover {
    box-shadow: 0 0 5px 2px var( --primary-yellow-color );
}

/* ===== Specials ===== */
.specials {
    padding: 2rem 1rem;
}

.specials__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3rem;
}

.specials__entries {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .specials__entries {
        flex-direction: row;
        gap: 2rem;
    }
}

.specialsEntry {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat( 3, minmax( 0, auto ) );
    gap: 1rem;

    padding: 1rem 0;

    border-top: solid 1px var( --secondary-grey-light-color );
}
.specialsEntry:first-child {
    border-top-color: var( --secondary-grey-color );
}
@media (min-width: 768px) {
    .specialsEntry {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        padding: 0 0 1rem 0;

        border-top: 0;
        border-top-left-radius: var( --radius );
        border-top-right-radius: var( --radius );
        background-color: var( --secondary-grey-light-color );
    }
}

.specialsEntry__heading {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
@media (min-width: 768px) {
    .specialsEntry__heading {
        grid-column: 1 / 1;
        grid-row: 2 / 2;

        padding-left: 1rem;
    }
}

.specialsEntry__price {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    justify-self: right;

    font-size: var( --lead-font-size );
    font-weight: var( --lead-font-weight );
    line-height: var( --lead-line-height );
    color: var( --secondary-orange-color );
}
@media (min-width: 768px) {
    .specialsEntry__price {
        grid-column: 2 / 2;
        grid-row: 2 / 2;

        padding-right: 1rem;
    }
}

.specialsEntry__description {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}
@media (min-width: 768px) {
    .specialsEntry__description {
        grid-column: 1 / -1;
        grid-row: 3 / 3;

        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.specialsEntry__image {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    justify-self: right;
    align-self: top;

    width: 85px;
    max-width: 85px;
    height: 85px;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var( --radius );
}
@media (min-width: 768px) {
    .specialsEntry__image {
        grid-column: 1 / -1;
        grid-row: 1 / 1;

        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 200px;
        aspect-ratio: 5/3;

        margin: 0;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.specialsEntry__button {
    grid-column: 1 / 2;
    grid-row: 3 / 3;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}
@media (min-width: 768px) {
    .specialsEntry__button {
        grid-column: 1 / -1;
        grid-row: 4 / 4;

        justify-self: left;

        padding-left: 1rem;
    }
}

/* ===== Testimonials ===== */
.testimonials {
    padding: 3rem 1rem;

    background-color: var( --secondary-grey-light-color );
}

.testimonials__header {
    margin-bottom: 3rem;

    text-align: center;
}

.testimonials__entries {
    display: flex;
    flex-direction: column;
}
@media (min-width: 576px) {
    .testimonials__entries {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
    }
}

.testimonialsEntry {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem 0;

    border-top: solid 1px var( --secondary-grey-light-color );
}
@media (min-width: 576px) {
    .testimonialsEntry {
        width: calc( 50% - 3rem );
        padding: 0.5rem 1rem 1rem;

        border-top: 0;
        border-radius: var( --radius );
        background-color: white;
    }
}

.testimonialsEntry__rating {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.testimonialsEntry__star {
    font-size: 1.5rem;
    color: var( --primary-yellow-color );
}

.testimonialsEntry__author {
    display: grid;
    grid-template-columns: repeat( 2, minmax( 0, auto ) );
    grid-template-rows: repeat( 2, minmax( 0, auto ) );
    column-gap: 1rem;
}

.testimonialsEntry__avatar {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    align-self: center;
    justify-self: end;

    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 50%;
}

.testimonialsEntry__name {
    grid-column: 2 / 2;
    grid-row: 1 / 1;

    font-size: var( --lead-font-size );
    font-weight: var( --lead-font-weight );
    line-height: var( --lead-line-height );
}

.testimonialsEntry__nickname {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.testimonialsEntry__review::after {
    content: '"';
}

.testimonialsEntry__review::before {
    content: '"';
}

/* ===== About ===== */
.about {
    padding: 3rem 1rem;

    background-color: var( --primary-yellow-color );
}
@media (min-width: 768px) {
    .about {
        padding-bottom: 0;
    }
}

.about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
@media (min-width: 768px) {
    .about .container {
        align-items: flex-start;
        gap: 2rem;
    }
}

.about__texts {
    display: flex;
    flex-direction: column;
}

.about p {
    padding: 1.5rem 0;
    margin-right: 45%;

    font-size: var( --lead-font-size );
    font-weight: var( --lead-font-weight );
    line-height: var( --lead-line-height );
}
@media (min-width: 576px) {
    .about p {
        margin-right: 15%;
    }
}

.about__images {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    z-index: 1;
}
@media (min-width: 576px) {
    .about__images {
        position: initial;
        top: 0;
    }
}

.about__image {
    width: 150px;
    max-width: 150px;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var( --radius );
}
@media (min-width: 786px) {
    .about__image {
        width: 200px;
        max-width: 200px;
        height: 200px;
    }
}

.about__image:first-child {
    position: relative;
    z-index: 2;

    border: solid 5px var( --primary-yellow-color );
}

.about__image:last-child {
    transform: translate3d( -10%, -25%, 0 );
}
@media (min-width: 768px) {
    .about__image:last-child {
        transform: translate3d( -40%, -35%, 0 );
    }
}

/* ===== Footer ===== */
.footer {
    padding: 2rem 1rem;

    background-color: var( --primary-green-color );
    color: var( --secondary-grey-light-color );
}

.footer a {
    text-decoration: none;
    color: var( --secondary-grey-light-color );

    transition: color 0.3s;
}
.footer a:hover {
    color: var( --primary-yellow-color );
}

.footer .container {
    display: grid;
    grid-template-columns: repeat( 2, minmax( 0, auto ) );
    grid-template-rows: repeat( 2, minmax( 0, auto ) );
    gap: 2rem 1rem;
}
@media (min-width: 576px) {
    .footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.footerLogo {
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    flex-grow: 0;
    flex-shrink: 0;

    width: 100px;
    max-width: 100px;
    height: auto;
}

.footerNav {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.footerNav .navList {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0;
    margin: 0;

    list-style: none;
}

.footerNav .navList__link {
    text-decoration: none;
    color: var( --secondary-grey-light-color );
}

.footerNav .navList__link:hover,
.footerNav .navList__link--active {
    color: var( --primary-yellow-color );
}

.socialMediaLinks {
    display: flex;
    justify-content: center;
    gap: 2rem;

    margin: 0;
    padding: 0;

    list-style: none;
}
@media (min-width: 576px) {
    .socialMediaLinks {
        width: 100px;
        gap: 1rem;
    }
}
@media (min-width: 768px) {
    .socialMediaLinks {
        width: auto;
        gap: 2rem;
    }
}

.socialMediaLinks__item {
    width: 24px;
    height: 24px;
}

.contactInfo {
    grid-column: 2 / 2;
    grid-row: 1 / 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    justify-content: center;
    align-items: center;
}
@media (min-width: 576px) {
    .contactInfo {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.contactInfo__address {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    text-align: center;
}
@media (min-width: 576px) {
    .contactInfo__address {
        text-align: left;
    }
}

.contactInfo__details {
    display: grid;
    grid-template-columns: repeat( 2, minmax( 0, auto ) );
    grid-template-rows: repeat( 2, minmax( 0, auto ) );

    margin: 0;
}

.contactInfoDetail__value {
    margin-left: 0.5rem;
}

/* ===== Confirmed Reservation ===== */
.confirmedReservation {
    padding: 3rem 1rem;

    background-color: var( --secondary-grey-light-color );
}

.confirmedReservation .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.confirmedReservation h2 {
    text-align: center;
}